.App {
  text-align: center;
}


.App button {
  padding: 12px;
  font-size: 18px;
  margin: 10px;
  background-color: #777;
  color: #FFF;
  border: 2px solid #777;
  border-radius: 3px;
}

.App button:hover {
  background-color: #333;
  border-color: #333;
  cursor: pointer;
}

.App span {
  margin-left: 10px;
}